@import "tailwindcss";

@theme {
  --color-bg: #0f1115;
  --color-surface: #171a21;
  --color-border: rgba(255, 255, 255, 0.08);
  --color-accent: #7c5cff;
  --color-muted: #9ca3af;
  --color-primaryText: #f3f4f6;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87);
  background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
  transition: border-color 0.25s;
}
